* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:  100vh;
  min-width: 479px;
  font-size: 2rem;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}

.header {
  background-color: #eee;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main {
  // height: 100%;
  padding: 10px 40px;
}

.main__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .main__container {
    flex-direction: row;
    gap: 2rem;
  }
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  margin: 1rem auto;
}

.control-panel__page-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.control-panel__create-update-wrapper {
  margin: 0 auto;
}

.control-panel__form-wrapper {
  display: flex;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}

.control-panel__button-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.control-panel__car-color-input {
  width: 5rem;
  height: auto;
}

.button {
  flex-grow: 1;
  padding: 0.5rem;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  &:active {
    background-color: rgb(63, 63, 63);
  }
}

.control-panel__pagination-buttons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.page-area {
  flex-grow: 1;
  display: flex;
  // border: 2px solid #ccc;
}

.page-area__garage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 10rem;
}

.car {
 
}

.car__img {
  display: block;
  // width: 100%;
  padding: 0.5rem;
}

.selected {
  background-color: #e01c1c;
}

.car__settings-wrapper {
  width: 35rem;
  display: flex;
  gap: 1rem;
  // overflow-x: hidden;
}

.car__buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.car__name {
  font-size: 2rem;
}

.car__button {
  z-index: 1000;
  max-width: 10rem;
  flex-grow: 1;
  padding: 0.4rem;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  &:active {
    background-color: rgb(63, 63, 63);
  }
}

.page-area__track {
  flex-grow: 1;
  border-left: 2px solid #e01c1c;
  border-right: 2px solid #e01c1c;
}

.page-area__finish {
  width: 10rem;
  // border: 2px solid #ccc;
}

.footer {
  background-color: #eee;
  font-size: 1rem;
}

.footer__container {
  text-align: center;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
  }
}

.link-wrapper {
  margin: 1rem;
}

.rss__logo {
  height: 5rem;
  width: 100%;
}

.github__logo {
  height: 5rem;
  width: 100%;
}

.modal-window-winner {
  display: none;
  position: fixed;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  z-index: 9999;
}

.modal-window-winner_cross-button {
  font-size: 3rem;
  font-weight: 600;
  padding: 0 2rem;
}

.modal-window-winner__information {
  text-align: center;
  font-size: 3rem;
}

.modal-window-winner_visible {
  display: flex;
}

.winners-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  table {
    border-collapse: collapse;
    text-align: center;
  }
  td, th {
    border: 2px solid #ccc;
    padding: 0.5rem;
  }
}

.page-area_garage-page {
  display: none;
}

.page-area_winners-page {
  display: none;
}

.page-visible {
  display: flex;
}