* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:  100vh;
  font-size: 2rem;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 40px;
}

.header {
  background-color: #eee;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main__container {
    flex-direction: row;
    gap: 2rem;
  }
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-panel__create-update-wrapper {
  margin: 0 auto;
}

.control-panel__form-wrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
}

.control-panel__button-wrapper {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
}

.control-panel__car-color-input {
  width: 5rem;
  height: auto;
}

.button {
  padding: 0.5rem;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  &:active {
    background-color: rgb(63, 63, 63);
  }
}

.racing-area {
  flex-grow: 1;
  display: flex;
  border: 2px solid #ccc;
}

.racing-area__garage {
  flex-grow: 1;
  border: 2px solid #ccc;
}

.racing-area__track {
  flex-grow: 5;
  border: 2px solid #ccc;
}

.footer {
  background-color: #eee;
  font-size: 1rem;
}

.footer__container {
  text-align: center;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.rss__logo {
  height: 5rem;
  width: 100%;
}

.github__logo {
  height: 5rem;
  width: 100%;
}